<section data-template="contactus">
    <div data-component="text">
        <h2>DO YOU HAVE A QUESTION?</h2>
    </div>
    <form action="">
        <div class="input-area">
            <div class="input-text">
                <input type="text" placeholder="Your name" required>
            </div>
            <div class="input-text">
                <input type="email" placeholder="Your email" required>
            </div>
        </div>
        <textarea name="name" rows="8" cols="80" placeholder="Your message to us" required></textarea>
        <div data-component="button">
            <input class="btn" type="submit" value="send it now">
        </div>
    </form>
</section>
