<footer>
    <div class="item">
        <div class="footer-logo">
            <a href="#close">
                <div data-component="image">
                    <img src="../img/footer-logo.png" alt="">
                </div>
            </a>
        </div>
        <div class="footer-contacts">
            <div data-component="text">
                <p><b>Sunnyside Corporation</b> - <br> 225 Carpenter Ave Wheeling, <br>IL 60090 - (847) 541-5700 </p>
            </div>
        </div>
    </div>
    <div class="item">
        <div class="footer-social">
            <div class="item">
                <a href="#close">
                    <div data-component="image">
                        <img src="../img/twitter.png" alt="">
                    </div>
                </a>
            </div>
            <div class="item">
                <a href="#close">
                    <div data-component="image">
                        <img src="../img/facebook.png" alt="">
                    </div>
                </a>
            </div>
            <div class="item">
                <a href="#close">
                    <div data-component="image">
                        <img src="../img/youtube.png" alt="">
                    </div>
                </a>
            </div>
        </div>
    </div>
</footer>
