<section data-template="home-section-4">
    <div data-component="text">
        <h2>AVAILABLE AT</h2>
    </div>
    <div class="list">
        <div class="item">
            <span>Menards</span>
        </div>
        <div class="item">
            <span>Menards</span>
        </div>
        <div class="item">
            <span>Menards</span>
        </div>
        <div class="item">
            <span>Walmart</span>
        </div>
        <div class="item">
            <span>Walmart</span>
        </div>
        <div class="item">
            <span>Walmart</span>
        </div>
        <div class="item">
            <span>Florida Hardware</span>
        </div>
        <div class="item">
            <span>Florida Hardware</span>
        </div>
        <div class="item">
            <span>Florida Hardware</span>
        </div>
    </div>
</section>
