<section data-template="home-section-1">
    <div class="row">
        <div class="item">
            <div data-component="text">
                <h2>Sunnyside <br>Quality <br>Products</h2>
                <p>Founded by Henry Lueders on the north side of Chicago in 1893. Sunnyside is family-owned and managed by Robert Lueders the great-grandson of the company founder.</p>
            </div>
            <div data-component="button">
                <a href="#close" class="btn">
                    <span>discover more</span>
                </a>
            </div>
        </div>
        <div class="item">
            <div data-component="image">
                <img src="img/gallon.png" alt="">
            </div>
        </div>
        <div class="item">
            <div data-component="image">
                <img src="img/years.png" alt="">
            </div>
        </div>
    </div>
    <div data-component="text">
        <div class="featured-title">
            <span>our brands</span>
        </div>
    </div>
    <ul class="brands">
        <li>
            <div data-component="image">
                <img src="img/logo-1.png" alt="">
            </div>
        </li>
        <li>
            <div data-component="image">
                <img src="img/logo-2.png" alt="">
            </div>
        </li>
        <li>
            <div data-component="image">
                <img src="img/logo-7.png" alt="">
            </div>
        </li>
        <li>
            <div data-component="image">
                <img src="img/logo-4.png" alt="">
            </div>
        </li>
        <li>
            <div data-component="image">
                <img src="img/logo-5.png" alt="">
            </div>
        </li>
        <li>
            <div data-component="image">
                <img src="img/logo-1.png" alt="">
            </div>
        </li>
        <li>
            <div data-component="image">
                <img src="img/logo-2.png" alt="">
            </div>
        </li>
        <li>
            <div data-component="image">
                <img src="img/logo-3.png" alt="">
            </div>
        </li>
    </ul>
</section>
