<section data-template="home-section-3">
    <div data-component="text">
        <h2>product categories</h2>
    </div>
    <div data-widget="product-categories">
        <div class="product-categories_navigation">
            <div class="item active">Thinners & Solvents</div>
            <div class="item">Paint Additives</div>
            <div class="item">Paint Removers</div>
            <div class="brake"></div>
            <div class="item">Safer Formulations</div>
            <div class="item">Specialty Cleaners</div>
            <div class="item">Protective Coatings & Fuels</div>
        </div>
    </div>
    <div id="prod_cat_slider"></div>
    
</section>
