<section data-template="navigation">
    <div data-component="weblogo">
        <a href="/">
            <img src="img/logo.png" alt="">
        </a>
    </div>
    <nav data-component="webnavigation">
        <a href="#close" class="active">home</a>
        <a href="#close">about us</a>
        <a href="#close">products</a>
        <a href="#close">faq</a>
        <a href="#close">where to buy</a>
        <a href="#close">msds/sds</a>
        <a href="#close">downloads</a>
    </nav>
    <div data-component="websearch">
        <input type="text" placeholder="Search...">
    </div>
</section>
