*, *:before, *:after {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

html {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
}

body {
    overflow-x: hidden;
    background-color: $color_white;
    max-width: 1440px;
    margin: 0 auto;
}
