<div class="popular-products" data-widget="home-slider">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="products-container">
                    <div class="item">
                        <div data-component="image">
                            <img src="./img/bitmap.png" alt="">
                        </div>
                        <div data-component="text">
                            aceton
                        </div>
                    </div>
                    <div class="item">
                        <div data-component="image">
                            <img src="./img/bitmap2.png" alt="">
                        </div>
                        <div data-component="text">
                            BACK TO NATURE STRIP TOX
                        </div>
                    </div>
                    <div class="item">
                        <div data-component="image">
                            <img src="./img/bitmap.png" alt="">
                        </div>
                        <div data-component="text">
                            aceton
                        </div>
                    </div>
                    <div class="item">
                        <div data-component="image">
                            <img src="./img/bitmap2.png" alt="">
                        </div>
                        <div data-component="text">
                            BACK TO NATURE STRIP TOX
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="products-container">
                    <div class="item">
                        <div data-component="image">
                            <img src="./img/bitmap.png" alt="">
                        </div>
                        <div data-component="text">
                            aceton
                        </div>
                    </div>
                    <div class="item">
                        <div data-component="image">
                            <img src="./img/bitmap2.png" alt="">
                        </div>
                        <div data-component="text">
                            BACK TO NATURE STRIP TOX
                        </div>
                    </div>
                    <div class="item">
                        <div data-component="image">
                            <img src="./img/bitmap.png" alt="">
                        </div>
                        <div data-component="text">
                            aceton
                        </div>
                    </div>
                    <div class="item">
                        <div data-component="image">
                            <img src="./img/bitmap2.png" alt="">
                        </div>
                        <div data-component="text">
                            BACK TO NATURE STRIP TOX
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="swiper-navigation">
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>

</div>
