footer {
    background-color: $color_footer;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;

    .item {
        display: flex;
        align-items: center;


        [data-component="text"] {
            color: $color_white;

            p {
                font-size: 1em;
                margin-bottom: 0;
            }
        }
    }

    .footer {

        &-logo {
            display: flex;


            &:after {
                content: "";
                display: block;
                width: 2px;
                background-color: $color_white;
                margin: 0 2.5rem;
            }
        }

        &-social {
            display: flex;
            align-items: center;
            margin: 0 -1rem;

            > * {
                margin: 0 1rem;
                transition: .3s;

                &:hover {
                    opacity: .75;
                }
            }
        }
    }
}
