[data-template="home-section-3"] {
    padding: 7.188rem 2rem;
    text-align: center;
    background-image: url("../img/home-section-3.png");
    background-size: cover;

    @media(max-width: $mobile) {
        padding: 3rem 1rem;
    }

    [data-component="text"] {
        color: $color_white;
    }
}
