[data-template="home-section-1"] {

    position: relative;
    overflow: hidden;
    padding:  6.375rem 2rem 0 3rem;

    &:after {
        content: "";
        display: block;
        background-color: #ffc600;
        position: absolute;
        right: -11%;
        top: 0;
        width: 60%;
        height: 200%;
        transform: skewx(-7deg);
        z-index: -1;

        @media(max-width: $laptop_small) {
            right: -6%;
        }
    }

    @media(max-width: $portrait_large) {

        &:after {
            display: none;
        }
    }

    .row {
        padding: 0 1rem 9.688rem 7rem;
        display: flex;

        > * {
            flex: 1;
        }

        @supports (display: grid) {
            display: grid;
            grid-template-columns: 34% 335px 1fr;
            grid-column-gap: 5.5rem;
        }

        @media(max-width: $laptop_small) {
            padding: 2rem;
            grid-template-columns: repeat(2, 1fr);

            text-align: center;

            [data-component="text"] {
                width: 80%;
                margin: 0 auto 5rem;

                br {
                    display: none;
                }
            }
        }

        @media(max-width: $portrait_large) {
            padding: 3rem;
            display: block;
            text-align: center;

            [data-component="text"] {
                width: 80%;
                margin: 0 auto 5rem;

                br {
                    display: none;
                }
            }
        }

        @media(max-width: $mobile) {
            padding: 2rem;

            [data-component="text"] {
                width: 100%;
                margin: 0 auto 5rem;
            }
        }

        .item {
            &:nth-of-type(3) {
                display: flex;
                align-items: flex-end;
                justify-content: flex-end;

                [data-component="image"] {
                    max-width: 162px;
                }
            }

            @media(max-width: $laptop_small) {

                &:nth-of-type(3) {
                    display: none;
                }

                [data-component="image"] {
                    max-width: 300px;
                }
            }

            @media(max-width: $portrait_large) {

                &:nth-of-type(2), &:nth-of-type(3) {
                    display: none;
                }
            }
        }
    }

    .brands {
        display: flex;
        align-items: center;
        margin: 50px -35px;

        @media (max-width: $mobile) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-row-gap: 2rem;
            grid-column-gap: 2rem;
            margin: 0;

            > * {
                margin: 0;
            }
        }



        > * {
            margin: 0 35px;

            [data-component="image"] {
                img {
                    // max-width: none;
                    // width: auto;
                }
            }
        }
    }
}
